<!DOCTYPE html>
<html ng-app="homePageApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fortune Enterprises</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/creation.css" rel="stylesheet">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="js/creationApp.js"></script>
    <script src="js/appDirectives.js"></script>
    <script src="js/helper.js"></script>
  </head>

  <body class="container" ng-controller="mainController">
    <h1 class="col-12 title"><a class="headerHome" href="index.html"><img class="logo" src="images/logo.png">Creation Page</a></h1>

    <slip-login-card class="row login-card" ng-show="!access"></slip-login-card>

    <!-- Creating more users -->
    <div class="row"  ng-show="access">
      <div class="login-card col-4">
        <h2>Sign-up</h2>
        <p>Master Admin use only</p>
        <form ng-submit="signUp()">
          <input type="email" name="email" placeholder="Email" ng-model="email" required>
          <input type="password" name="pass" placeholder="Password" ng-model="password" required>
          <input type="submit" name="login" class="login login-submit" value="Sign Up">
        </form>
      </div>

      <!-- Adding an item -->
      <div class="login-card col-4" ng-controller="itemController">
        <h2>Add item</h2><br>
        <form ng-submit="create()">
          <label>Code</label>
          <input type="text" placeholder="SING_L" ng-model="code" required>
          <label>Description</label>
          <input type="text" placeholder="White singlet bag (Large)" ng-model="description" required>
          <label>Unit</label>
          <input type="text" placeholder="1000 or Ctn or Roll or Pcs or Pkt" ng-model="unit" required>
          <label>Quantitiy</label>
          <input type="text" placeholder="2000" ng-model="quantitiy" required>
          <label>Packaging</label>
          <input type="text" placeholder="2,000 pcs/ctn" ng-model="packaging" required>
          <label>Normal Price</label>
          <input type="text" ng-model="defaultPrice" onclick="this.select()" required>
          <label>Order As</label>
          <input type="text" placeholder="ctn or pkt or roll or etc" ng-model="orderAs" required>
          <input type="submit" name="login" class="login login-submit" value="Create Item">
        </form>
      </div>

      <!-- Adding a customer -->
      <div class="login-card col-4" ng-controller="customerController">
        <h2>Add customer</h2><br>
        <form ng-submit="create()">
          <label>Customer Name</label>
          <input type="text" placeholder="Chen Enterprises" ng-model="name" required>
          <label>Short Name</label>
          <input type="text" placeholder="chenEnt" ng-model="short" required>
          <label>Account Number</label>
          <input type="text" placeholder="997" ng-model="acc" required>
          <label>Address</label>
          <input type="text" placeholder="123 Fake Street, Otahuhu" ng-model="address" required>
          <label>City</label>
          <input type="text" placeholder="Auckland" ng-model="city" required>
          <label>Customer Type</label>
          <select ng-model="type" required>
            <option value="">Select one</option>
            <option value="Delivery">Delivery</option>
            <option value="Out of Auckland">Out of Auckland</option>
            <option value="Invoice">Invoice</option>
            <option value="Fruit World">Fruit World</option>
            <option value="Supa Fruit Mart">Supa Fruit Mart</option>
            <option value="Taiping Trading">Taiping</option>
          </select>
          <br>
          <p ng-show="type == 'Invoice'" class="gstP">Prices GST included?<br>
            False:<input id="invoiceCheckerFalse" type="radio" name="gst" value="false" ng-click="includeGST = false" checked> True:<input type="radio" name="gst" value="true" ng-click="includeGST = true">
          </p>
          <br>
          <label>Shipping Comment</label>
          <input type="text" placeholder="Please ring before delivery" ng-model="shippingComment">
          <input type="submit" name="login" class="login login-submit" value="Create Customer">
        </form>
      </div>
    </div>
  </body>
</html>
