<!DOCTYPE html>
<html ng-app="checklist">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fruit World Checklist</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/slip.css" rel="stylesheet">
    <link href="css/fruitWorld.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/onLoad.js"></script>
    <script src="js/buildTableFW.js" async></script>
    <script src="js/model.js"></script>
    <script src="js/appFW.js"></script>

    <!-- Tempalte for the loaded orders -->
    <script type="text/ng-template" id="fe-orders">
      <h3>Saved orders for {{selectedBranch.name}}</h3>
      <span ng-repeat="order in orders | reverse">
        <div class="oldOrders" ng-show="order.short == selectedBranch.short">
          <p>
            File last modified: {{order.time}} <button class="clean-gray-btn" ng-click="loadOrder(orders.length-$index-1)">Load</button>
          </p>
        </div>
      </span>
    </script>

    <!-- Tempalte for main delivery checklist -->
    <script type="text/ng-template" id="fe-table">
      <br>
      <table ng-show="spreadsheetArray.length > 0">
        <tr>
          <th></th>
          <th ng-repeat="shop in spreadsheetArray">{{shop.short}}</th>
          <th>Total</th>
        </tr>
        <tr ng-repeat="item in items" ng-show="item.spreadsheetTotal > 0">
          <th>{{item.description}}</th>
          <td ng-repeat="shop in spreadsheetArray">{{shop[item.code]}}</td>
          <td>{{item.spreadsheetTotal}}</td>
          <td>{{item.orderAs}}</td>
        </tr>
      </table>
    </script>

    <!-- Tempalte for the packing slips -->
    <script type="text/ng-template" id="fe-slip">
      <div ng-repeat="shop in spreadsheetArray" class="packingSlips packingFullPage">
        <div class="row">
          <h1 class="col-10 packingTitle"><img class="logo"src="images/logo.png"> FORTUNE ENTERPRISES CO (NZ) LTD</h1>
          <strong class="col-2 packingName">Packing Slip</strong>
        </div>

        <div class="row packingRow">
          <div class="col-8">
            <p class="packingP">73 Huia Road, Otahuhu, Auckland</p>
            <p class="packingP">PO Box 9511 New Market, Auckland</p>
            <p class="packingP">Email: <a href="#">feltd@xtra.co.nz</a></p>
          </div>
          <div class="col-4">
            <p class="packingP right">Phone:    (09) 276-8681</p>
            <p class="packingP right">Fax:      (09) 276-8682</p>
            <p class="packingP right">Website:  <a href="#">www.fortunenz.com</a></p>
          </div>
        </div>

        <div class="row packingRow">
          <div class="col-8">
            <p class="packingP">Deliver to:</p>
            <p class="packingP"><strong>{{shop.name}}</strong></p>
            <p class="packingP">{{shop.address}}</p>
            <p class="packingP">{{shop.city}}</p>
          </div>
          <div class="col-4">
            <p class="packingP">Packing slip no.: {{slipNumber.$value+$index+1}}</p>
            <p class="packingP">Account no.: {{shop.acc}}</p>
            <p class="packingP">Date: {{date}}</p>
          </div>
        </div>

        <table class="packingTable">
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Packaging</th>
            <th>Quantity</th>
            <th>Carton</th>
          </tr>
          <tr ng-repeat="item in items" ng-if="shop.hasOwnProperty(item.code) && shop[item.code] > 0">
            <td>{{item.code}}</td>
            <td>{{item.description}}</td>
            <td>{{item.packaging}}</td>
            <td>{{shop[item.code] | quantity:item}}</td>
            <td>{{shop[item.code] | carton:item}}</td>
          </tr>
        </table>

        <div class="packingSign">
          <p>Name: _________________________________</p><br>
          <p>Signature: ______________________________</p>
        </div>
      </div>
    </script>

  </head>

  <body ng-controller="appCtrl" class="container">
    <h1 class="no-print col-12 title"><a class="headerHome" href="index.html"><img class="logo"src="images/logo.png"> Fruit World Checklist</a></h1>

    <!-- The user must first login before they can use the application -->
    <div ng-show="!access" class="no-print">
      <div class="login-card">
        <h2>Log-in</h2><br>
        <form>
          <input type="text" name="user" placeholder="Email" ng-model="userName">
          <input type="password" name="pass" placeholder="Password" ng-model="password">
          <input type="submit" name="login" class="login login-submit" value="login" ng-click="login()">
        </form>
      </div>
    </div>

    <!-- If the user has logged in they can use the functions -->
    <div ng-show="access">
      <div class="greeting no-print">
        <p>Hi, {{userName}}! <br class="greetingBreakline"><button class="clean-gray-btn" ng-click="logout()">Logout</button></p>
      </div>
      <div class="center no-print col-12">
        <button class="clean-gray-btn" ng-click="changeView()">{{viewOrder.id}}</button>
      </div>

      <div class="no-print" ng-show="viewOrder.bool">
        <h3 class="subHeader">Selected Branch: {{selectedBranch.name}}</h3>
        <nav>
          <ul>
            <li class="center">
              <input type="text" ng-model="searchBox" placeholder="Item search">
              <button ng-click="showList()" class="clean-gray-btn">Select branch</button>
              <ul class="shopList" ng-show="viewList">
                <li ng-repeat="shop in shops" ng-click="listClick(shop)" class="clean-gray-btn clean-gray-btn-shop">{{shop.name}}</li>
              </ul>
            </li>
          </ul>
        </nav>
        <div>
          <form id="orderForm" class="row" ng-submit="saveOrder()">
            <span ng-repeat="item in displayedItems" class="item col-12 row">
              <strong class="col-12">{{item.description}}:</strong>
              <input ng-change="checkoutList()" ng-model="item.ordered" type="number" step="0.01" value="0" min="0" class="col-7" onclick="this.select()">
              <span class="col-4 itemIncrement">
                {{item.orderAs}}
                <button type="button" class="clean-gray-btn clean-gray-btn-increment" ng-click="item.ordered = item.ordered+1; checkoutList()">+</button>
                <button type="button" class="clean-gray-btn clean-gray-btn-increment" ng-click="item.ordered = item.ordered-1; checkoutList()">-</button>
              </span>
              <br>
            </span>
            <input class="saveOrderBtn clean-gray-btn" type="submit" value="Submit"/>
          </form>
          <br>
        </div>
        <fe-orders ng-show="selectedBranch.selected" id="loadedOrders"></fe-orders>

        <div id="checkout">
          <div id="checkoutHeader">
            <br>
            <h2>Items</h2>
            <hr>
          </div>
          <div id="checkoutItems">
            <p ng-repeat="item in checkoutItems">
              <strong>{{item.description}}:</strong><br>
              {{item.ordered}} {{item.orderAs}}
              <button type="button" class="clean-gray-btn checkoutButtons" ng-click="item.ordered = 0; checkoutList()">X</button>
              <button type="button" class="clean-gray-btn checkoutButtons" ng-click="item.ordered = item.ordered-1; checkoutList()">-</button>
              <button type="button" class="clean-gray-btn checkoutButtons" ng-click="item.ordered = item.ordered+1; checkoutList()">+</button>
            </p>
          </div>
        </div>

      </div>

      <div ng-show="!viewOrder.bool">
        <h3 class="no-print subHeader">Choose the shops to print</h3>
        <div class="shopList">
          <label class="no-print checkboxes clean-gray-btn clean-gray-btn-shop" ng-repeat="shop in shops"><input type="checkbox" ng-click="selectPrint(shop)">{{shop.name}}</label>
        </div>
        <div class="center">
          <button class="no-print clean-gray-btn load" ng-click="printPreview()">Load</button>
          <button ng-show="spreadsheetArray.length > 0" ng-click="slipNumber.$value = slipNumber.$value + spreadsheetArray.length; slipNumber.$save()" id="printButton" class="clean-gray-btn no-print" onclick="window.print();">Print</button>
        </div>
        <fe-table id="print">
        </fe-table>
        <fe-slip id="packingSlip">
        </fe-slip>
      </div>
    </div>
  </body>
</html>
