<!DOCTYPE html>
<html ng-app="homePageApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fortune Enterprises</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <script src="https://www.parsecdn.com/js/parse-1.6.2.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="bower_components/jquery-2.1.4.min/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body class="container" ng-controller="mainController as main">
    <header class="row">
      <h1 class="col-12 title"><img class="logo" src="images/logo.png">Fortune Enterprises Ltd</h1>
      <p class="col-12">Welcome to the Fortune Enterprises creation page</p>
    </header>
    <div class="login-card" ng-show="!main.logged">
      <h2>Log-in</h2><br>
      <form>
        <input type="text" name="user" placeholder="Username" ng-model="main.loggedName">
        <input type="password" name="pass" placeholder="Password" ng-model="main.loggedPass">
        <input type="submit" name="login" class="login login-submit" value="Log In" ng-click="main.login()">
      </form>
    </div>

    <!-- Creating more users -->
    <div class="row">
      <div class="login-card col-4" ng-show="main.logged">
        <h2>Sign-up</h2>
        <p>Master Admin use only</p>
        <form ng-submit="main.signUp()">
          <input type="text" name="user" placeholder="First name" ng-model="main.firstName" required>
          <input type="text" name="user" placeholder="Last name" ng-model="main.lastName" required>
          <input type="text" name="user" placeholder="Username" ng-model="main.userName" required>
          <input type="password" name="pass" placeholder="Password" ng-model="main.password" required>
          <input type="email" name="email" placeholder="Email" ng-model="main.email" required>
          <input type="text" name="access" placeholder="User Access" ng-model="main.access" required>
          <input type="submit" name="login" class="login login-submit" value="Sign Up">
        </form>
      </div>

      <!-- Adding an item -->
      <div class="login-card col-4" ng-show="main.logged" ng-controller="itemController as item">
        <h2>Add item</h2><br>
        <form ng-submit="item.create()">
          <label>Code</label>
          <input type="text" placeholder="SING_L" ng-model="item.code" required>
          <label>Description</label>
          <input type="text" placeholder="White singlet bag (Large)" ng-model="item.description" required>
          <label>Unit</label>
          <input type="text" placeholder="1000 or Ctn or Roll or Pcs or etc" ng-model="item.unit" required>
          <label>Quantitiy</label>
          <input type="text" placeholder="2000" ng-model="item.quantitiy" required>
          <label>Packaging</label>
          <input type="text" placeholder="2,000 pcs/ctn" ng-model="item.packaging" required>
          <label>Normal Price</label>
          <input type="text" ng-model="item.defaultPrice" onclick="this.select()" required>
          <label>Order As</label>
          <input type="text" placeholder="ctn or pkt or roll or etc" ng-model="item.orderAs" required>
          <input type="submit" name="login" class="login login-submit" value="Create Item">
        </form>
      </div>

      <!-- Adding a customer -->
      <div class="login-card col-4" ng-show="main.logged" ng-controller="customerController as customer">
        <h2>Add customer</h2><br>
        <form ng-submit="customer.create()">
          <label>Customer Name</label>
          <input type="text" placeholder="Chen Enterprises" ng-model="customer.name" required>
          <label>Short Name</label>
          <input type="text" placeholder="chenEnt" ng-model="customer.short" required>
          <label>Account Number</label>
          <input type="text" placeholder="997" ng-model="customer.acc" required>
          <label>Address</label>
          <input type="text" placeholder="123 Fake Street, Otahuhu" ng-model="customer.address" required>
          <label>City</label>
          <input type="text" placeholder="Auckland" ng-model="customer.city" required>
          <label>Customer Type</label>
          <select ng-model="customer.type" required>
            <option value="">Select one</option>
            <option value="Delivery">Delivery</option>
            <option value="Out of Auckland">Out of Auckland</option>
            <option value="Invoice">Invoice</option>
            <option value="Fruit World">Fruit World</option>
            <option value="Supa Fruit Mart">Supa Fruit Mart</option>
            <option value="Taiping Trading">Taiping</option>
          </select>
          <br>
          <p ng-show="customer.type == 'Invoice'" class="gstP">Prices GST included?<br>
            False:<input type="radio" name="gst" value="false" checked> True:<input type="radio" name="gst" value="true">
          </p>
          <br>
          <label>Shipping Comment</label>
          <input type="text" placeholder="Please ring before delivery" ng-model="customer.shippingComment">
          <input type="submit" name="login" class="login login-submit" value="Create Customer">
        </form>
      </div>
    </div>
  </body>
</html>
