<!DOCTYPE html>
<html ng-app="homePageApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fortune Enterprises</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="js/indexApp.js"></script>
  </head>

  <body class="container" ng-controller="mainController">
    <div ng-style="loading"></div>
    <header class="row">
      <h1 class="col-12 title"><a class="headerHome" href="index.html"><img class="logo" src="images/logo.png">Fortune Enterprises Ltd</a></h1>
      <p class="col-12">Welcome to the Fortune Enterprises Home Page</p>
    </header>

    <!-- IF the user hasn't logged in show this div -->
    <div class="login-card" ng-show="!access">
      <h2>Log-in</h2><br>
      <form>
        <input type="text" name="user" placeholder="Email" ng-model="loggedEmail">
        <input type="password" name="pass" placeholder="Password" ng-model="loggedPass">
        <input type="submit" name="login" class="login login-submit" value="Log In" ng-click="login()">
      </form>
    </div>

    <!-- IF the user has logged in show this div -->
    <div ng-show="access">
      <h2>Portals</h2><br>
      <a href="http://www.fortunenz.com/">Website</a>
      <a href="creation.html">Creation</a>
      <a href="slip.html">Packing Slips</a>
      <a href="fruitworld.html">Fruit World Delivery List</a>
      <a href="priceCheck.html">MYOB Price Check</a>
      <button ng-click="logout()">Logout</button>
    </div>
  </body>
</html>
