<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Slip Check</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="js/helper.js"></script>
    <script src="js/appSlipCheck.js"></script>
    <script src="js/appDirectives.js"></script>
  </head>

  <body ng-controller="appCtrl" class="container">
    <h1 class="col-12 title">
      <a class="headerHome" href="index.html"><img class="logo"src="images/logo.png"> Slip Price Check</a>
    </h1>

    <!-- The user must first login before they can use the application -->
    <slip-login-card ng-show="!access" class="row login-card"></slip-login-card>

    <!-- If the user has logged in they can use the functions -->
    <div ng-show="access">
      <div class="greeting">
        <p>Hi, {{loggedEmail}}! <br class="greetingBreakline"><button slip-logout class="clean-gray-btn"></button></p>
      </div>

      <form ng-submit="findSlip()" class="row">
        <label class="col-12 center">
          Slip no.: <input id="slipNumber" type="number" ng-model="slipNumber" name="slipNo" onclick="this.select()"/>
        </label>
      </form>
      <form  class="row" ng-submit="savePriceChanges()" ng-if="selectedSlip !== undefined">
        <h2>Customer Name: {{selectedCustomer.name}}</h2>
        <label class="col-12" ng-repeat="(key, val) in selectedSlip">
          {{key}}: $<input type="number" ng-model="selectedSlip[key]" step="0.01" onclick="this.select()" /> per unit
        </label>
        <div class="col-4 center">
          <input type="submit" value="Save" class="clean-gray-btn" />
        </div>
      </form>
    </div>
  </body>
</html>
