<div class="row">
  <h1 class="col-10 packingTitle"><img class="logo"src="images/logo.png"> FORTUNE ENTERPRISES CO (NZ) LTD</h1>
  <strong class="col-2 packingName" ng-if="invoice === true && invoice !== undefined">Invoice Slip</strong>
  <strong class="col-2 packingName" ng-if="invoice !== true">Packing Slip</strong>
</div>

<div class="row packingRow">
  <div class="col-8">
    <p class="packingP">73 Huia Road, Otahuhu, Auckland</p>
    <p class="packingP">PO Box 9511 New Market, Auckland</p>
    <p class="packingP">Email: <a href="#">feltd@xtra.co.nz</a></p>
  </div>
  <div class="col-4">
    <p class="packingP">Phone:    (09) 276-8681</p>
    <p class="packingP">Fax:      (09) 276-8682</p>
    <p class="packingP">Website:  <a href="#">www.fortunenz.com </a></p>
  </div>
</div>

<div class="row packingRow">
  <div class="col-8">
    <p class="packingP">Deliver to:</p>
    <p class="packingP"><strong>{{selectedCustomer.name}}</strong></p>
    <p class="packingP">{{selectedCustomer.address}}</p>
    <p class="packingP">{{selectedCustomer.city}}</p>
  </div>
  <div class="col-4">
    <p class="packingP">
      <span ng-if="invoice === true && invoice !== undefined">Invoice slip no.: </span>
      <span ng-if="invoice !== true">Packing slip no.: </span>
      {{slipNumber.$value}}
    </p>
    <p class="packingP">Account no.: {{selectedCustomer.acc}}</p>
    <p class="packingP" ng-if="orderNo !== undefined">Order no.: {{orderNo}}</p>
    <p class="packingP">Date: {{slipDate}}</p>
  </div>
</div>
