<div ng-repeat="n in [0,1]" class="packingSlips packingFullPage">
  <slip-packing-slip-header></slip-packing-slip-header>

  <table class="packingTable">
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Packaging</th>
      <th>Quantity</th>
      <th>Carton</th>
    </tr>
    <tr ng-repeat="item in items" ng-if="selectedCustomer.hasOwnProperty(item.code) && selectedCustomer[item.code] > 0">
      <td>{{item.code}}</td>
      <td>{{item.description}}</td>
      <td>{{item.packaging}}</td>
      <td>{{selectedCustomer[item.code] | quantity:item}}</td>
      <td>{{selectedCustomer[item.code] | carton:item}}</td>
    </tr>
  </table>

  <div class="packingSign">
    <p>Name: _________________________________</p><br>
    <p>Signature: ______________________________</p>
  </div>
</div>
